.pokedex{
  width: 600px;
  height: 500px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background-color: rgb(124, 124, 124);
    & figure{
      width: 200px;
      height: 100%;
      display: flex;
      align-items: center;
        & img{
          width: 100%;
        }
    }
    & .container-info{
      width: 200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

}

